.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
}

.container, .row .col {
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}